{% extends "base.html" %}

{% block head %}
	<meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUf6V7Fxe3WldsOf-9EizCDQ_Qd7R4q1U&libraries=places&callback=initMap" async defer></script>

	<script>
	  var map, lat = 42.0987, long = 75.9180, service;

	  function initMap() {

	  	var infowindow = new google.maps.InfoWindow({});

		var geoSuccess = function(position){
			lat = position.coords.latitude;
			long = position.coords.longitude;
			map.panTo({lat:lat, lng:long});
			map.setZoom(14)
		}

		
		map = new google.maps.Map(document.getElementById('map'), {
		  center: {lat: 0, lng: 0},
		  zoom: 14
		});
		var service = new google.maps.places.PlacesService(map);

		navigator.geolocation.getCurrentPosition(geoSuccess);
		
		console.log("register places server")
		places = new google.maps.places.PlacesService(map);

		console.log("place search box")
		// Create the search box and link it to the UI element.
		var input = document.getElementById('pac-input');
		var searchBox = new google.maps.places.SearchBox(input);
		map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

		//add the places we know about
		$.getJSON('/getplaceids', {  }, function(data) {
	        for(var i=0; i< data.place_ids.length; i++){
	        	service.getDetails({
		          placeId: data.place_ids[i]
		        }, function(place, status) {
		          if (status === google.maps.places.PlacesServiceStatus.OK) {
		            var marker = new google.maps.Marker({
		              map: map,
		              position: place.geometry.location
		            });
		            google.maps.event.addListener(marker, 'click', function() {
		              infowindow.setContent('<div><strong>' + place.name + '</strong><br>' +
		                'Place ID: ' + place.place_id + '<br>' +
		                place.formatted_address + '</div>');
		              infowindow.open(map, this);
		            });
		          }
		        });
	        }
	     });

		console.log("add search bounds listener")
		// Bias the SearchBox results towards current map's viewport.
		map.addListener('bounds_changed', function() {
		  searchBox.setBounds(map.getBounds());
		});

		

		var markers = [];
		// Listen for the event fired when the user selects a prediction and retrieve
		// more details for that place.
		searchBox.addListener('places_changed', function() {
		  var places = searchBox.getPlaces();

		  if (places.length == 0) {
			return;
		  }

		  // Clear out the old markers.
		  markers.forEach(function(marker) {
			marker.setMap(null);
		  });
		  markers = [];

		  // For each place, get the icon, name and location.
		  var bounds = new google.maps.LatLngBounds();
		  places.forEach(function(place) {
			if (!place.geometry) {
			  console.log("Returned place contains no geometry");
			  return;
			}
			var icon = {
			  url: place.icon,
			  size: new google.maps.Size(71, 71),
			  origin: new google.maps.Point(0, 0),
			  anchor: new google.maps.Point(17, 34),
			  scaledSize: new google.maps.Size(25, 25)
			};

			// Create a marker for each place.
			var marker = new google.maps.Marker({
			  map: map,
			  icon: icon,
			  title: place.name,
			  position: place.geometry.location
			});

			markers.push( marker );

			marker.addListener('click', function() {
				console.log(place);
				var url = encodeURI("/newevent/" + place.place_id + "/" + place.name);
				infowindow.setContent(
					"<div>" + 
						"<strong>" + marker.title + "</strong>" +
						"<p><a href=" + url + ">Add Event Here</a></p>" + 
					"</div>")
			    infowindow.open(map, marker);
			});

			if (place.geometry.viewport) {
			  // Only geocodes have viewport.
			  bounds.union(place.geometry.viewport);
			} else {
			  bounds.extend(place.geometry.location);
			}

		  });
		  map.fitBounds(bounds);
		});

		

	  }//initmap
  
    </script>

{% endblock %}

{% block main_content %}
 <input id="pac-input" class="controls" type="text" placeholder="Search"></input>
 <div id="map"></div>

    

{% endblock %}
