{% extends "base.html" %}

{% block title %} List Users {% endblock %}

{% block style %} 

{% endblock %}

<!-- begin script tag -->
{% block script %}
<script>
function newvenue(){
	window.location="/newvenue";
};

function toggleRowChecked(rowid){
	console.log(rowid)
	var checked = $("#"+rowid).prop('checked')
	$("#" + rowid).prop('checked', !checked)
}

</script>
{% endblock %}

{% block main_content %}
<form id="venuestable" name="venuestable" method="post" action="/editvenues">
<div class="venues--table">
	<h1>Venues</h1>
	<table>
		<tr class="column--header">
			<td class="select--column"><input type="checkbox" disabled="true"></td>
			<td>Name</td>
			<td>Website</td>
		</tr>
	{% for venue in venues %}
		<tr>
			<td class="select--column">
				<input type="checkbox" name="{{venue.id}}" id="venue{{venue.id}}"></td>
			<td onclick="toggleRowChecked('venue{{venue.id}}')">
				<label for="venue{{venue.id}}">{{venue.name|e}}</label>
			</td> 
			<td onclick="toggleRowChecked('venue{{venue.id}}')">
				<label>{{venue.webaddr}}</label>
			</td>
		</tr>
	{% endfor %}
	</table>
</div>
<div class="buttons">
	<input type="submit" class="button--left" name="deletevenue" value="Delete Venue" ></input>
	<input type="button" class="button--right" name="addvenue" value="New Venue" onclick="newvenue()"></input>
</div>
</form>
{% endblock %}