{% extends "base.html" %}

{% block title %} New Event {% endblock %}

{% block head %}
<style>
form label,
form input{
	display:block;
}

textarea{
	width:320px;
}
</style>
{% endblock %}

{% block main_content %}
<form action="/addevent" method="post" name="neweventform" class="myform">

	<h1>Add a new event</h1>

	<div>
		<label for="venueinput">Venue Name</label>
		<input readonly="true" type="text" name="venueinput" id="venueinput" value="{{venue_name}}"/>

		<label for="eventtype">Event Type</label>
		<select id="eventtype" name="eventtype">
			<option disable="true"></option>
			<option value="karaoke">Karaoke</option>
			<option value="openmic">Open Mic</option>
			<option value="wings">Wing Special</option>
			<option value="trivia">Team Trivia</option>
		</select>

		<label>Select Days</label>
		<div class="day-selector">
			<div class="day-selector-day">
				<div class="day-selector-label day-selector-label-weekend">Su</div>
				<div class="day-selector-checkbox"><input type="checkbox" name="checkbox_sunday" id="checkbox_sunday"></div>
			</div>
			<div class="day-selector-day">
				<div class="day-selector-label">Mo</div>
				<div class="day-selector-checkbox"><input type="checkbox" name="checkbox_monday" id="checkbox_monday"></div>
			</div>
			<div class="day-selector-day">
				<div class="day-selector-label">Tu</div>
				<div class="day-selector-checkbox"><input type="checkbox" name="checkbox_tuesday" id="checkbox_tuesday"></div>
			</div>
			<div class="day-selector-day">
				<div class="day-selector-label">We</div>
				<div class="day-selector-checkbox"><input type="checkbox" name="checkbox_wednesday" id="checkbox_wednesday"></div>
			</div>
			<div class="day-selector-day">
				<div class="day-selector-label">Th</div>
				<div class="day-selector-checkbox"><input type="checkbox" name="checkbox_thursday" id="checkbox_thursday"></div>
			</div>
			<div class="day-selector-day">
				<div class="day-selector-label">Fr</div>
				<div class="day-selector-checkbox"><input type="checkbox" name="checkbox_friday" id="checkbox_friday"></div>
			</div>
			<div class="day-selector-day">
				<div class="day-selector-label day-selector-label-weekend">Sa</div>
				<div class="day-selector-checkbox"><input type="checkbox" name="checkbox_saturday" id="checkbox_saturday"></div>
			</div>
		</div>

		<label for="eventdescription">Event Description</label>
		<textarea rows="8" name="eventdescription" id="eventdescription"></textarea>

	
	<div><input type="submit" value="Add Event"></div>

	<input type="hidden" name="place_id" value="{{place_id}}"/>

</form>
{% endblock %}