{% extends "base.html" %}

{% block title %} New Event {% endblock %}

{% block head %}
<style>
form label,
form input{
	display:block;
}

textarea{
	width:320px;
}
</style>
{% endblock %}

{% block main_content %}
<form action="/addevent" method="post" name="neweventform" class="myform">

	<h1>Add a new event</h1>

	<div>
		<label for="venueinput">Venue Name</label>
		<input readonly="true" type="text" name="venueinput" id="venueinput" value="{{venue_name}}"/
>		<script>$(venueinput).set('value', '{{venue_name}}') </script>

		<label for="eventtitle">Event Title</label>
		<input required="true" type="text" name="eventtitle" id="eventtitle"/>

		<label for="eventtype">Event Type</label>
		<select id="eventtype">
			<option value="karaoke">Karaoke</option>
			<option value="karaoke">Open Mic</option>
			<option value="karaoke">Wing Special</option>
		</select>

		<label for="eventdescription">Event Description</label>
		<textarea rows="8" name="eventdescription" id="eventdescription"></textarea>

	
	<div><input type="submit" value="Add Event"></div>

	<input type="hidden" name="place_id" value="{{place_id}}"/>

</form>
{% endblock %}